/*.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.centered-content {
  text-align: center;
}

.textBox {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.logo {
  width: 350px; 
  height: auto;
  margin-bottom: 20px;
  margin-top: 50px;
}

.text {
  font-size: 1.2rem;
  color: #333;
}*/
