/* Hintergrundfarbe für Navbar */
.custom-navbar {
  background-color: #1e352f !important;
  z-index: 1000;
}

/* Schriftfarbe für die Links in der Navbar */
.custom-navbar .nav-link {
  color: white !important;
}

/* Hover-Effekte für Links */
.custom-navbar .nav-link:hover {
  color: #ccc !important;
}

/* Optionale Stile für das Logo */
.custom-navbar .navbar-brand img {
  height: 40px; /* Größe des Logos */
  object-fit: cover;
}

.custom-toggler {
  background-color: rgb(160, 160, 160) !important; /* Setzt die Farbe des Hamburger-Symbols auf Weiß */
}

.navbar-toggler-icon {
  background-color: rgb(160, 160, 160); /* Weißes Hamburger-Menü */
}
